* {
    margin: 0;
    border: 0;
    font-family: "Helvetica", Arial, Helvetica, sans-serif;
}

.AppContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #F8F9FA;
}

.ContentSection {
    display: flex;
    width: 30vw;
    height: 100vh;
    left: 20vw;
}

