.LoginContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 30vw;
    height: 100vh;
    /* left: 30vw; */
    /* top: 80px; */
    /* bottom: 80px; */
    /* position: fixed; */
    /* z-index: 0; */
    /* justify-content: center; */
    align-items: center;
    gap: 50px;
    box-sizing: border-box;
    margin: 0 8px 0 8px;
}

.HeaderElements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 60px;
}

.LoginContainer img {
    margin-top: 50px;
}

.LoginContainer h1 {
    text-align: center;
    font-size: 40px;
    /* margin-top: 80px; */
}

.LoginContainer h4 {
    color: #6C757D;
    font-size: 16px;
    font-weight: 400;
    margin-top: -6px;
}

.LoginContainer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    /* gap: 16px; */
}

.LoginContainer form input {
    width: 360px;
    height: auto;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 16px;
    margin-top: 8px;
    outline: none;
    border: 2px solid #FF6914;
}

.LoginContainer label {
    font-size: 20px;
    line-height: 150%;
    font-weight: 400;
}



.LoginButton {
    /* margin-top: -10px; */
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #FF6914;
    border-radius: 20px;
    border: 1PX solid #FF6914;
    width: 150px;
    height: 40px;
}

.LoginButton:hover {
    background-color: #db5c12;
    cursor: pointer;
}

.LoginInteractions {
    display: flex;
    align-items: center;
    gap: 135px;
    margin-top: -50px;
}

.LoginInteractions label {
    font-size: 16px;
}

.LoginInteractions div {
    display: flex;
    gap: 8px;
    align-items: baseline;
}

.LoginInteractions a {
    color: #FF6914;
    text-decoration: underline;
    cursor: pointer;
}

.LoginInteractions a:hover {
    color: #db5c12;
}