.RegistrationContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 60vw;
    height: 100vh;
    left: 20vw;
    /* top: 80px; */
    /* bottom: 80px; */
    /* position: fixed; */
    /* z-index: 0; */
    /* justify-content: space-around; */
    align-items: center;
    gap: 50px;
    box-sizing: border-box;
    margin: 0 8px 0 8px;
}

.HeaderElements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 60px;
}

.RegistrationContainer img {
    margin-top: 50px;
}
.RegistrationContainer h1 {
    text-align: center;
    font-size: 40px;
    /* margin-top: 80px; */
}

.RegistrationContainer h4 {
    color: #6C757D;
    font-size: 16px;
    font-weight: 400;
    margin-top: -6px;
}

.RegistrationContainer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    /* gap: 16px; */
}

.RegistrationContainer input {
    width: 360px;
    height: auto;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 16px;
    margin-top: 8px;
    outline: none;
    border: 2px solid #FF6914;
}

.RegistrationContainer label {
    font-size: 20px;
    line-height: 150%;
    font-weight: 400;
}

.RegistrationContainer span {
    color: #FF6914;
}

.RegisterButton {
    margin-top: -30px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #FF6914;
    border-radius: 20px;
    border: 1PX solid #FF6914;
    width: 150px;
    height: 40px;
}

.RegisterButton:hover {
    background-color: #db5c12;
    cursor: pointer;
}

.LogInSuggestion {
    display: flex;
    gap: 5px;
    align-items: baseline;
}

.LogInSuggestion p {
    color: #6C757D;
    line-height: 150%;
}

.LogInSuggestion a {
    color: #FF6914;
    text-decoration: underline;
    line-height: 150%;
}

.LogInSuggestion a:hover {
    color: #db5c12;
    cursor: pointer;
}