.RegistrationContainer {
    display: flex;
    flex-direction: column;
    background-color: #F8F9FA;
    width: 90vw;
    height: 200vh;
    left: 10vw;
    top: 80px;
    /* bottom: 80px; */
    position: fixed;
    z-index: 0;
}