.RegistrationContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 60vw;
    height: 100vh;
    left: 20vw;
    /* top: 80px; */
    /* bottom: 80px; */
    /* position: fixed; */
    /* z-index: 0; */
    /* justify-content: space-around; */
    align-items: center;
    gap: 50px;
    box-sizing: border-box;
    margin: 0 8px 0 8px;
}

.HeaderElements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 60px;
}

.RegistrationContainer h1 {
    text-align: center;
    font-size: 40px;
    /* margin-top: 80px; */
}

.RegistrationContainer h4 {
    color: #6C757D;
    font-size: 16px;
    font-weight: 400;
    margin-top: -6px;
}

.RegistrationContainer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    /* gap: 16px; */
}

.RegistrationContainer input {
    width: 360px;
    height: auto;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 16px;
    margin-top: 8px;
    outline: none;
    border: 2px solid #BF4BEC;
    /* border: 2px solid #CDEB69; */
    background-color: #F6F6EF;
}

.RegistrationContainer input:focus {
    background-color: white;
}

.RegistrationContainer label {
    font-size: 20px;
    line-height: 150%;
    font-weight: 400;
    width: 368px;
}

.RegistrationContainer span {
    color: #BF4BEC;
    /* color: #CDEB69; */
}

.RegisterButton {
    /* margin-top: -30px; */
    /* position: center; */
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #BF4BEC;
    /* background-color: #CDEB69; */
    border-radius: 20px;
    border: 1PX solid #BF4BEC;
    /* border: 1PX solid #CDEB69; */
    width: 150px;
    height: 40px;
    /* margin-left: 5.9vw; */
}

.RegisterButton:hover {
    background-color: #a640ce;
    cursor: pointer;
}

.LogInSuggestion {
    display: flex;
    gap: 5px;
    align-items: baseline;
}

.LogInSuggestion p {
    color: #6C757D;
    line-height: 150%;
}

.LogInSuggestion a {
    color: #BF4BEC;
    /* color: #CDEB69; */
    text-decoration: none;
    line-height: 150%;
}

.LogInSuggestion a:hover {
    color: #a640ce;
    cursor: pointer;
    text-decoration: underline;
}

.ProfilePictureInput {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 6px;
    border-radius: 10px;
    /* height: 24px; */
    /* width: 24px; */
    border: 2px solid #BF4BEC;
    background-color: #F6F6EF;
    margin-bottom: 16px;
    margin-top: 8px;
}

.ProfilePictureInput img {
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 6px;
}

.ProfilePictureInput:hover {
    background-color: #a640ce41;
    cursor: pointer;
}

form div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.uploadedImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    /* padding: 0 50px; */
}

.uploadedImage {
    height: 120px;
    border-radius: 100px;
    /* margin-bottom: 16px; */
    /* margin-top: -21px; */
    border: white solid 5px;
    width: 120px;
    transition: all .2s ease-in-out;
    margin-top: 10px;
}

.uploadedImage:hover {
    cursor: pointer;
    border: #BF4BEC 5px solid;
    transform: scale(1.1);
}

.HiddenImage {
    display: none;
    height: 120px;
    width: 120px;
}

.alignmentUploadedImage {
    margin-top: 0px;
}

.ImageUploadBox {
    margin-bottom: -48px;
}