.Searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    height: 50px;
}

.Searchbar input {
    font-size: 18px;
    padding: 10px;
    width: 800px;
    height: auto;
    border-radius: 10px;
    /* margin-bottom: 16px; */
    /* margin-top: 8px; */
    outline: none;
}

.Searchbar button {
    height: 50px;
    width: 60px;
    background-color: transparent;
    border-radius: 0 10px 10px 0;
}

.Searchbar button:hover {
    cursor: pointer;
    background-color: rgb(238, 238, 238);
}