.Searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F9FA;
    border-radius: 10px;
    height: 50px;
    border: 2px solid #d1d1d1;
}

.Searchbar input {
    font-size: 18px;
    padding: 10px;
    width: 10vw;
    height: auto;
    border-radius: 10px;
    /* margin-bottom: 16px; */
    /* margin-top: 8px; */
    outline: none;
    background-color: #F8F9FA;
}

.Searchbar button {
    height: 50px;
    width: 60px;
    background-color: transparent;
    border-radius: 0 10px 10px 0;
}

.Searchbar button:hover {
    cursor: pointer;
    background-color: rgb(238, 238, 238);
}